node_modules
dist
dist-package
*.zip
.DS_Store
*.log
.vite

Release/
*.zip
__pycache__/

# native build artifacts
backend/native/*.obj
backend/native/*.lib
backend/native/*.pdb
backend/native/*.ilk
backend/native/*.dll
backend/native/*.exp

